$grey1:#f5f5f5;
$grey2:#ededed;
$grey3:#dbdbdb;
$grey4:#bdbdbd;
$grey5:#9f9f9f;
$grey6:#7a7a7a;
$grey7:#363636;

$red1: #e63c78;

$charcoal-grey: #393f45;
$charcoal-grey2: #272c31;
$ice-blue: #eef0f2;
$input-placeholder: #bdbdbd;
$greenblue: #24c185;
  