$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    // @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width} ) {
        @content;
    }
}

@mixin font($font-size, $font-weight, $color, $letter_spacing: normal, $line-height: 1.2) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    letter-spacing: $letter_spacing;
    line-height: $line-height;
    font-style: normal;
    font-stretch: normal;
}